src/main/mule/findingdatetime.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="279304bb-8f03-42f5-a1a6-8f1d6b3c2ab9" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="555a972e-5142-4c35-913a-520e802f7fad" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<flow name="findingdatetimeFlow" doc:id="aed19803-e670-4958-9438-2d62a84d5634" >
		<http:listener doc:name="Listener" doc:id="4ebcb453-7bff-47a3-ac8b-e1090080beb8" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="48f0d4c4-a574-4b7a-996e-c5a916369d0f" config-ref="HTTP_Request_configuration" path="/{area}/{location}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	area : attributes.uriParams.region,
	location : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
